@model AlugaLivros.Models.Livro

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
